.App {
  max-width: 1440px; 
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

.App-title {
  margin: 0;
  padding: 15px;
}

.diagramma {
  margin: 0 auto;
  padding: 20px;
}

.button-reset {
  margin-left: 10%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 2.5;
  border-radius: 7px;
  border-color: rgb(6, 77, 77);
  background-color:rgb(130, 211, 184);
  cursor: pointer;
}
.button-reset:hover {
  border-color: rgb(9, 108, 108);
  background-color:aquamarine;
}

@media all and (max-width: 720px) {
  .App {
    font-size: 12px;
  }
  .button-reset {
    font-size: 12px;
  }
}